Import the neccessary libraries

In [3]:
import yfinance as yf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split,cross_val_score,GridSearchCV
from sklearn.preprocessing import StandardScaler,LabelEncoder
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from xgboost import XGBClassifier
from sklearn.neural_network import MLPClassifier
import warnings
warnings.filterwarnings("ignore")
print("Libraries imported successfully...........")

Libraries imported successfully...........

Set style for better visualization

In [ ]:
plt.style.use("seaborn-v0_8")
sns.set_palette("husl")

Data Acqusition and Loading

In [5]:
# Download Blackstone Group stock data (ticker:BX)
def load_stock_data():
    # Load Blackstone stock data from Yahoo Finance
    # Returns: DataFrame with stock data
    print("Downloading Blackstone stock data......")
    ticker = "BX"
    stock = yf.download(ticker,start="2015-01-01",end="2024-01-01")
    return stock

In [7]:
# Load the data
data = load_stock_data()
print(f"Data loaded successfully")

[*********************100%***********************]  1 of 1 completed

Downloading Blackstone stock data......
Data loaded successfully

In [8]:
data

Price            Close        High         Low        Open   Volume
Ticker              BX          BX          BX          BX       BX
Date
2015-01-02   19.624441   19.704940   19.388695   19.538191  2626167
2015-01-05   19.336945   19.584190   19.060949   19.480692  3072693
2015-01-06   18.963196   19.405940   18.606702   19.382939  3417930
2015-01-07   19.233446   19.348444   18.974699   19.147196  2565231
2015-01-08   19.382948   19.503697   19.325450   19.434697  3589937
...                ...         ...         ...         ...      ...
2023-12-22  123.609879  124.924575  122.238435  122.711348  3342700
2023-12-26  124.253029  124.858356  123.278830  123.590954  2485000
2023-12-27  125.425850  126.201419  123.505826  123.969286  3561200
2023-12-28  125.917694  126.296018  124.886734  125.321820  2087900
2023-12-29  123.827446  126.021768  123.222118  125.671802  2049000

[2264 rows x 5 columns]

In [9]:
data.to_csv("blackstone_stock_data.csv",index=False)
print("Data saved successfully")

Data saved successfully